@tailwind base;
@tailwind components;
@tailwind utilities;

/* configuración base */

body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #020617;
}

/* contenedor tipo app móvil */

.app-container {
  max-width: 420px;
  margin: auto;
  min-height: 100vh;
  background: #020617;
}
